<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= location.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>State province:</strong>
    <%= location.state_province %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= location.country %>
  </p>

  <p>
    <strong>Directions:</strong>
    <%= location.directions %>
  </p>

</div>
